<ion-content>

</ion-content>
<ion-tabs >
  <ion-tab-bar slot="bottom" id="tab-bar">

    <ion-tab-button class="tab-btn" tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Početna</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-btn" tab="karta">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Karta</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>