ion-content {
    opacity: 0;
}

.dizel {
    margin-top: 0;
    width: 36px;
    height: 36px;
    background-color: #2C313C;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 0.5em 0 0;
    margin: auto;
}

.benzin {
    margin-top: 0;
    background-color: #8DD374;
    width: 36px;
    height: 36px;
    color: white;
    border-radius: 100%;
    text-align: center;
    padding: 0.5em 0 0;
    margin: auto;
}

.text-gorivo {
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.cijena {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}