<ion-header class="ion-no-border" id="header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="zatvori()"></ion-back-button>
        </ion-buttons>
        <ion-title>{{trenutnaBenga.naziv}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="content" [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <div class="center">
        <img src="../../assets/icon/pump/signs.svg" width="32">
        <h2>{{trenutnaBenga.naziv}}</h2>
        <p>Radno Vrijeme: {{trenutnaBenga.trenutnoRadnoVrijeme}}</p>
        <ion-chip color="success" *ngIf="trenutnaBenga.otvoreno">
            <ion-label>Otvoreno</ion-label>
        </ion-chip>
        <ion-chip color="danger" *ngIf="!trenutnaBenga.otvoreno">
            <ion-label>Zatvoreno</ion-label>
        </ion-chip>
        <p stlye="font-weight:bold;">{{trenutnaBenga.obveznik}}</p>
        <img *ngIf="trenutnaBenga.img != 'http://localhost/home'" src="{{trenutnaBenga.img}}" width="50%" stlye="margin-top: 5px;">

        <div class="adresa">
            <ion-icon name="home-outline" style="font-size: 32px;"></ion-icon>
            <p>{{trenutnaBenga.adresa}}</p>
        </div>
        <div class="adresa">
            <ion-icon name="navigate-outline" style="font-size: 32px;"></ion-icon> 
            <p>{{trenutnaBenga.udaljenost}} km <span class="text-muted">(Zračna udaljenost)</span></p>
        </div>
        <ion-button class="odvedi" color="light" (click)="odvedi()">Odvedi me</ion-button>
    </div>
    <hr>
    <div class="cijene">
        <h3>Cijene Goriva</h3>
        <div class="cijene-bengi">
            <ion-grid>
                <ion-row>
                    <ion-col style="flex: display; flex-direction: column;" size="4" *ngFor="let gorivo of trenutnaBenga.cijenici" >
                        <p class="dizel" *ngIf="gorivo.naziv.toLowerCase().includes('eurodiesel') || gorivo.naziv.toLowerCase().includes('eurodizel')">B</p>
                        <p class="benzin" *ngIf="gorivo.naziv.toLowerCase().includes('eurosuper')">E</p>
                        <div class="autoplin" *ngIf="gorivo.naziv.toLowerCase().includes('autoplin') || gorivo.naziv.toLowerCase().includes('lpg')"><p style="transform: rotateZ(-45deg); margin:auto;">H</p></div>
                        <p class="text-gorivo">{{gorivo.naziv}}</p>
                        <p class="cijena">{{gorivo.cijena}} <span>kn/L</span> </p>
                        
                    </ion-col>
                </ion-row>
               
            </ion-grid>
            
        </div>
    </div>
    <hr>
    <div class="dodatne-usluge">
        <h3>Dodatne Usluge</h3>
        <ion-chip *ngFor="let benga of trenutnaBenga.opcije" color="medium" >
            <ion-avatar>
                <img src="{{benga.img}}" alt="slika">
            </ion-avatar>
            <ion-label>{{benga.usluga}}</ion-label>
        </ion-chip>
        <ion-text *ngIf="trenutnaBenga.opcije == undefined">Nije unešeno</ion-text>
    </div>
    <hr>
    <div class="grafikon">
        <h3>Grafikon cijena</h3>
        <canvas #grafikon height="250px" id="grafikon" width="100%"></canvas>
        <!-- <div id="grafikon" style="height: 250px; width: 100%; margin-left:auto;margin-right:auto;"></div> -->
    </div>
</ion-content>
